<div class="container mt-2">
  <div class="row app-container pt-2">
    <div class="col-lg-10 offset-md-1">
      <div class="card text-white bg-dark mb-3">
        <div class="card-body">
          <h4>Ваше имя </h4>
          <p class="card-text"> {{info.username}} </p>
        </div>
      </div>
      <div class="card text-white bg-dark mb-3">
        <div class="card-body">
          <h4>Ваш номер контракта </h4>
          <p class="card-text"> {{info.contractNumber}}</p>
        </div>
      </div>
      <div class="card text-white bg-dark mb-3">
        <div class="card-body">
          <h4>Ваш токен </h4>
          <p class="card-text"> {{info.token}}</p>
        </div>
      </div>
      <div class="card text-white bg-dark mb-3">
        <div class="card-body">
          <h4>Ваша Роль </h4>
          <p class="card-text"> {{info.authorities}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
