<div class="container mt-2">
  <div class="row app-container pt-2">
    <div class="col-lg-10 offset-md-1">

      <div class="card text-white bg-dark mb-3">
        <div class="card-body">
          <h5>Ваш адрес </h5>
          <h5> <p class="card-text" style="color: rgba(75,255,255,0.6);" > {{info.address}} </p></h5>
        </div>
      </div>
      <br>
      <div class="card text-white bg-dark mb-3">
        <div class="card-body">
          <h5>Ваше имя </h5>
          <p class="card-text" style="color: #8e9a9d"> {{info.username}} </p>
        </div>
      </div>
      <div class="card text-white bg-dark mb-3">
        <div class="card-body">
          <h5>Ваш номер контракта </h5>
          <p class="card-text" style="color: #8e9a9d"> {{info.contractNumber}}</p>
        </div>
      </div>
      <div class="card text-white bg-dark mb-3">
        <div class="card-body">
          <h5>Ваш токен </h5>
          <p class="card-text" style="color: #8e9a9d"> {{info.token}}</p>
        </div>
      </div>
      <div class="card text-white bg-dark mb-3">
        <div class="card-body">
          <h5>Ваша Роль </h5>
          <p class="card-text" style="color: #8e9a9d"> {{info.authorities}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
