nav {
  height: 100%;
}


.side-nav-button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  cursor: pointer;

}
.nav-link {
  border-radius: 4px;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: .5px;
  border: 1px;
  text-align: center;
  line-height: 24px;
  text-transform: uppercase;
  padding: 3px 16px;
  opacity: 1;
  float: right;
}
