<nav class="navbar navbar-expand navbar-dark bg-dark px-2">
  <div>
    <label class="navbar-brand px-8" style="color: rgba(75,255,255,0.6); font-weight: bold; font-size: 25px;">МОЁ ЖКХ</label>
  </div>
  <div *ngIf="isLoggedIn" class="side-nav-button p-2 me-3  text-light" (click)="SideNavToggle()">
    <i class="fa-solid fa-bars"></i>
  </div>
  <div class="side-nav-log">
    <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
      <li class="nav-item">
        <a href="/sign-up" class="nav-link" routerLink="sign-up">Регистрация</a>
      </li>
      <li class="nav-item">
        <a href="/login" class="nav-link" routerLink="login">Авторизация</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
      <li class="nav-item">
        <a href="/profile" class="nav-link" routerLink="profile">{{ username }}</a>
      </li>
      <li class="nav-item">
        <a href class="nav-link" (click)="logout()">Выйти</a>
      </li>
    </ul>
  </div>
</nav>
