<div class="container">
  <h3 class="fw-bold" style=" text-align: center;">Переданные показания</h3>
  <h5 style=" text-align: center; color: darkcyan">{{userAddress}}</h5>
  <br>
  <h5 *ngIf=!canAddDate style="color: crimson" >  Передавать показания можно с 20  по 25 число каждого месяца</h5>
  <div class="border" *ngIf=canAddDate>
    <button class="btn btn-md btn-outline-primary" (click)="openModel()" >
      <i id="myicon" class="fa-regular fa-plus"></i> Добавить показания </button>
  </div>
  <br>
  <form #searchForm="ngForm" class="d-flex" role="search" (ngSubmit)="goToPage(searchForm.value.serialNumber)">
    <input class="form-control me-2" type="text" name="serialNumber" ngModel placeholder="Серийный номер" aria-label="Поиск">
    <button class="btn btn-success" type="submit">Поиск</button>
  </form>
</div>
<br>
<ng-container *ngIf="(userGageDateState$ | async) as state" [ngSwitch]="state.appState">
  <div class="container">
    <div class="row">
      <div class="col-md-12 mt-3">
        <ng-container *ngSwitchCase="'APP_ERROR'"> {{ state.error | json }}</ng-container>
        <ng-container *ngSwitchCase="'APP_LOADING'">
          <div class="d-flex justify-content-center mt-4">
            <div class="spinner-border" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
          </div>
        </ng-container>
        <ng-container *ngSwitchCase="'APP_LOADED'">
          <table class="table table-dark">
            <thead>
            <tr>
              <th scope="col">N</th>
              <th scope="col">Тип ИПУ</th>
              <th scope="col">Серийный номер</th>
              <th scope="col">Показания</th>
              <th scope="col">Дата отправки</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let gageDate of state.appData.data.page.content; let i = index;" style="color: #8e9a9d">
              <th scope="row"> {{i + 1 }} </th>
              <td><span class="badge" [ngClass]="[
              gageDate.typeGage === 'THERMAL_ENERGY' ? 'bg-success' : '',
              gageDate.typeGage ===  'ELECTRICAL_ENERGY' ? 'bg-primary' : '',
              gageDate.typeGage === 'WATER' ? 'bg-info' : '']" style="color: #232a31">{{gageDate.typeGage}} </span></td>
              <td>{{gageDate.serialNumber}}</td>
              <td>{{gageDate.data}}</td>
              <td>{{gageDate.departureDate}}</td>
            </tr>
            </tbody>
          </table>
          <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-end">
              <li class="page-item pointer" [ngClass]="0 == (currentPage$ | async) ? ' disabled' : ''">
                <a class="page-link" aria-label="Previous"
                   (click)="goToPreviousOrNextPage('backward', searchForm.value.serialNumber)">
                  <span aria-hidden="true">&laquo; Previous</span>
                </a>
              </li>
              <li class="page-item pointer"
                  *ngFor="let pageNumber of [].constructor(state.appData.data.page.totalPages); let i = index;"
                  [ngClass]="i == (currentPage$ | async) ? ' active' : ''">
                <a class="page-link" (click)="goToPage(searchForm.value.serialNumber, i)">
                  {{ i + 1}}
                </a></li>
              <li class="page-item pointer"
                  [ngClass]="state.appData.data.page.totalPages -1 == (currentPage$ | async) ? ' disabled' : ''">
                <a class="page-link" aria-label="Next"
                   (click)="goToPreviousOrNextPage('forward', searchForm.value.serialNumber)">
                  <span aria-hidden="true">Next &raquo;</span>
                </a>
              </li>
            </ul>
          </nav>
        </ng-container>
      </div>
    </div>
  </div>
</ng-container>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Показания за месяц</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="gageForm" (ngSubmit)="saveGageDate()" novalidate>
      <div class="form-group">
        <p for="electricity">ИПУ для измерения электричества</p>
        <div class="input-group">
          <label for="electricity_day">День</label>
          <input type="number" id="electricityDay" class="form-control" formControlName="electricityDay">
        </div>
        <div class="input-group">
          <label for="electricity_night">Ночь</label>
          <input type="number" id="electricityNight" class="form-control" formControlName="electricityNight">
        </div>
      </div>
      <div class="form-group">
        <p for="water">ИПУ для измерения воды</p>
        <div class="input-group">
          <label for="water_hot">ГВС</label>
          <input type="number" id="waterHot" class="form-control" formControlName="waterHot"></div>
        <div class="input-group">
          <label for="water_cool">ХВС</label>
          <input type="number" id="waterCool" class="form-control" formControlName="waterCool"></div>
      </div>
      <div class="form-group">
        <label for="energy">ИПУ для измерения тепла</label>
        <div class="input-group"><input type="number" id="energy" class="form-control" formControlName="energy"></div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button data-dismiss="model" class="btn btn-info" (click)="saveGageDate()">Сохранить</button>
    <button type="button" class="btn btn-dark" (click)="modal.close('Save click')">Закрыть</button>
  </div>
</ng-template>
