<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="text-center">
          <h1 style="color: aliceblue">Login</h1>
        </div>
        <form>
          <form *ngIf="!isLoggedIn" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate >
            <div class="form-group">
              <label for="username">Username</label>
              <input  type="text"  class="form-control" name="username" id="username" [(ngModel)]="form.username" required
                      #username="ngModel" [ngClass]="{ 'is-invalid': f.submitted && username.errors }"  />
              <div *ngIf="username.errors && f.submitted" class="invalid-feedback">   Username is required!  </div>
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password"  class="form-control" name="password" id="password" [(ngModel)]="form.password"
                     required minlength="6" #password="ngModel"  [ngClass]="{ 'is-invalid': f.submitted && password.errors }" />
              <div *ngIf="password.errors && f.submitted" class="invalid-feedback">
                <div *ngIf="password.errors['required']">Password is required</div>
                <div *ngIf="password.errors['minlength']">  Password must be at least 6 characters  </div>
              </div>
            </div>
            <div class="btn-login">
              <button type="submit" class="btn btn-primary mb-2">  Login  </button>
            </div>
            <div class="form-group">
              <div *ngIf="f.submitted && isLoginFailed" class="alert alert-danger" role="alert">  Login failed: {{ errorMessage }}   </div>
            </div>
            <a style="color: white" routerLink="/sign-up" >New user? Click to signup!</a>
          </form>
        </form>
        <div class="alert alert-success" *ngIf="isLoggedIn">  Logged in as {{ roles }} </div>
        <button *ngIf="isLoggedIn" type="submit" class="btn btn-primary mb-2" routerLink="/home">  Перейти на главную страницу  </button>
      </div>
    </div>
  </div>
</div>
