<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="form" *ngIf="!isSuccessful">
          <div class="form-title">Сброс пароля</div>
          <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <app-form-control [control]="control" *ngFor="let control of getControl()"></app-form-control>
            <button type="submit" *ngIf="form.valid" class="form-btn">Сохранить новый пароль</button>
          </form>
          <div id="alert-danger" *ngIf="isSignUpFailed" class="alert alert-danger" role="alert"> Пользователь с указанным именем и номером догвора не найден: {{ errorMessage }}   </div>
        </div>
      </div>
      <div id="alert-success" class="alert alert-success" *ngIf="isSuccessful">
        <a class="title" style="color: white" routerLink="/login">Пароль изменен! <p>Переходите на авторизацию</p></a>
      </div>
    </div>
  </div>
</div>
