<div class="side-nav-content"  >
  <ul class="nav-list" [ngClass]="{'nav-list-open': sideNavStatus}" *ngIf="role === 'user'">
    <li class="nav-list-item" *ngFor="let item of userList">
       <div routerLink="/{{item.route}}" >
        <i class="{{item.icon}}"></i>
        <span>{{item.name}}</span>
      </div>
    </li>
  </ul>

  <ul class="nav-list" [ngClass]="{'nav-list-open': sideNavStatus}" *ngIf="role === 'admin'">
    <li class="nav-list-item" *ngFor="let item of adminList">
      <div routerLink="/{{item.route}}" >
        <i class="{{item.icon}}"></i>
        <span>{{item.name}}</span>
      </div>
    </li>
  </ul>

  <ul class="nav-list" [ngClass]="{'nav-list-open': sideNavStatus}" *ngIf="role === 'moderator'">
    <li class="nav-list-item" *ngFor="let item of moderatorList">
      <div routerLink="/{{item.route}}"  >
        <i class="{{item.icon}}"></i>
        <span>{{item.name}}</span>
      </div>
    </li>
  </ul>

  <ul class="nav-list" [ngClass]="{'nav-list-open': sideNavStatus}" *ngIf="role === 'dispatcher'">
    <li class="nav-list-item" *ngFor="let item of dispatcherList">
      <div routerLink="/{{item.route}}">
        <i class="{{item.icon}}"></i>
        <span>{{item.name}}</span>
      </div>
    </li>
  </ul>

</div>
