<div class="container">
  <h3 class="fw-bold">Список ИПУ</h3>
  <div class="border">
    <button class="btn btn-md btn-outline-primary" (click)="openContent()"> <i id="myicon" class="fa-regular fa-plus"></i> Добавить </button>
  </div>
  <br>
</div>
<br>
<ng-container *ngIf="(gageState$ | async) as state" [ngSwitch]="state.appState">
  <div class="container">
    <div class="row">
      <div class="col-md-12 mt-3">
        <ng-container *ngSwitchCase="'APP_ERROR'"> {{ state.error | json }}</ng-container>
        <ng-container *ngSwitchCase="'APP_LOADING'">
          <div class="d-flex justify-content-center mt-4">
            <div class="spinner-border" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
          </div>
        </ng-container>
        <ng-container *ngSwitchCase="'APP_LOADED'">
          <table class="table table-dark">
            <thead>
            <tr>
              <th scope="col">N</th>
              <th scope="col">Серийный номер</th>
              <th scope="col">Тип ИПУ</th>
              <th scope="col">Произодитель</th>
              <th scope="col">Дата установки</th>
              <th scope="col">Место установки</th>
              <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let gage of state.appData.data.page.content; let i = index;">
              <th scope="row"> {{i + 1 }} </th>
              <td>{{gage.serialNumber}}</td>
              <td>{{gage.typeGage}}</td>
              <td>{{gage.manufacturer}}</td>
              <td>{{gage.installationDate}}</td>
              <td>{{gage.address}}</td>
              <td>
                <button (click)="openContentDelete(gage.id)" class="btn btn-outline-primary text-white mx-2">Снять с места установки</button>
              </td>
            </tr>
            </tbody>
          </table>
          <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-end">
              <li class="page-item pointer" [ngClass]="0 == (currentPage$ | async) ? ' disabled' : ''">
                <a class="page-link" aria-label="Previous" (click)="goToPreviousOrNextPage('backward')">  <span aria-hidden="true">&laquo; Previous</span> </a>
              </li>
              <li class="page-item pointer" *ngFor="let pageNumber of [].constructor(state.appData.data.page.totalPages); let i = index;" [ngClass]="i == (currentPage$ | async) ? ' active' : ''">
                <a class="page-link" (click)="goToPage(i)"> {{ i + 1}}  </a></li>
              <li class="page-item pointer" [ngClass]="state.appData.data.page.totalPages - 1 == (currentPage$ | async) ? ' disabled' : ''">
                <a class="page-link" aria-label="Next" (click)="goToPreviousOrNextPage('forward')">  <span aria-hidden="true">Next &raquo;</span> </a>
              </li>
            </ul>
          </nav>
        </ng-container>
      </div>
    </div>
  </div>
</ng-container>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Добавить новый адрес</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #f="ngForm" novalidate>
      <div class="form-group">
        <label for="serialNumber">Серийный номер</label>
        <div class="input-group"> <input type="text" id="serialNumber" class="form-control" name="serialNumber" ngModel> </div>
      </div>
      <div class="form-group">
        <label for="typeGage">Тип ИПУ</label>
        <select class = "form-control" name="typeGage" id="typeGage" ngModel>
          <option [ngValue]="null" disabled>Выберите тип датчика</option>
          <option *ngFor="let typeGage of typeGages" [ngValue]="typeGage.name">{{typeGage.name}}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="manufacturer">Произодитель</label>
        <div class="input-group">  <div><input type="text" id="manufacturer" name="manufacturer" class="form-control" ngModel></div> </div>
      </div>
      <div class="form-group col-sm-12">
        <label for="installationDate">Дата установки</label>
        <div><input type="text" id="installationDate" name="installationDate" class="form-control" placeholder="yyyy-mm-dd"
                    [(ngModel)] = "installationDate" ngbDatepicker #d="ngbDatepicker" ngModel></div></div>
      <div class="input-group-append">
        <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button">
          <i class="fa fa-calendar"></i>
        </button>
      </div>
      <div class="form-group">
        <label for="address">Место установки</label>
        <select class = "form-control" name="address" id="address" ngModel>
          <option [ngValue]="null" disabled>Выберите метсо установки ИПУ</option>
          <option *ngFor="let gageAddress of gagesAddress" [ngValue]="gageAddress.address">{{gageAddress.address}}</option>
        </select>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <div> <button data-dismiss="model" class="btn btn-outline-primary" (click)="onSubmit(f)" >Сохранить</button> </div>
    <button type="button" class="btn btn btn-dark" (click)="modal.close('Save click')">Закрыть</button>
  </div>
</ng-template>

<ng-template #contentDelete let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Confirm Delete</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')"> <span aria-hidden="true">&times;</span>  </button>
  </div>
  <div class="modal-body">
    <h2>Are you sure you want to delete this record.</h2>
    <div class="border text-center"> <button data-dismiss="modal" class="btn btn-danger" (click)="deleteGage()">Yes, Delete!</button>  </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Cancel</button>
  </div>
</ng-template>
