.disabled {
  pointer-events: none;
  opacity: 0.6;
}
.pointer {
  cursor: pointer;
}
.modal-header, .modal-body, .modal-footer{
  background-color: #111418ee;
  color: white;
}
.container{
  margin-top:5%;
}

.border {
  padding: 10px;
}

table .btn{
  margin: 2px;
}
.btn{
  margin-right: 10px;
}
