<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="form" *ngIf="!isLoggedIn">
          <div class="form-title">Авторизация</div>
          <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <app-form-control [control]="control" *ngFor="let control of getControl()"></app-form-control>
            <button type="submit" *ngIf="form.valid" class="form-btn">Авторизоваться</button>
          </form>
          <div *ngIf="isLoginFailed" class="alert alert-danger" role="alert"> Ошибка авторизации: {{ errorMessage }}
          </div>
          <a style="color: white" routerLink="/sign-up"  *ngIf="!isLoginFailed" >Новый пользователь? <p>Переходите на региcтрацию</p></a>
          <a style="color: white" routerLink="/reset-password"  *ngIf="isLoginFailed" >Забыли пароль? <p>Переходите по ссылке для сбороса пароля</p></a>

        </div>
        <div class="alert alert-success" *ngIf="isLoggedIn"> Вы успешно авторизованы!</div>
        <button *ngIf="isLoggedIn" type="submit" class="btn" routerLink="/profile">  Перейти на главную страницу  </button>
      </div>
    </div>
  </div>
</div>
