<div class="container mt-2">
  <div class="row app-container pt-2">
    <div class="col-lg-10 offset-md-1">
      <div class="card">
        <div class="card-body">
          <h5>Your Username </h5>
          <p class="card-text"> {{info.username}} </p>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h5>Contract Number </h5>
          <p class="card-text"> {{info.contractNumber}}</p>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h5>Token </h5>
          <p class="card-text"> {{info.token}}</p>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h5>Authorization </h5>
          <p class="card-text"> {{info.authorities}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
