.disabled {
  pointer-events: none;
  opacity: 0.6;
}
.pointer {
  cursor: pointer;
}

.form-group {
  padding-top: 10px;
  padding-bottom: 10px;
}
.input-group {
  padding-left: 20px;
}
electricityNight {
  padding-left: 5px;
}
.modal-header, .modal-body, .modal-footer{
  background-color: #111418ee;
  color: white;
}
#content {
  position: center;
}
