<div *ngIf="isLoggedIn">
  <p class="" >Ваши счетчики!</p>
  <div class = "add-btn">
    <button class="btn btn-primary" type="submit">Добавить</button>
  </div>

  <div class="gage-list">
    <ag-grid-angular style="width: 50%; height: 600px; margin: auto; margin-top: 50px"
                     [headerHeight]="80" [rowHeight]="80"
                     class="ag-theme-alpine" [rowData] = "rowData$ | async"
                     [columnDefs]="columnDefs" [defaultColDef]="defaultColDef"
    [animateRows]="true" [rowSelection]="'multiple'" >
    </ag-grid-angular>
  </div>
</div>

